body {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #3c5cbb !important;
}

#wrapper {
    display: grid;
    height: auto;
}


#wrapper>* {
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.block-0 {
    background-image: url('../assets/sprites/wall.png');
}

.block-1 {
    background-image: url('../assets/sprites/ice.png');
}
