@import url(https://fonts.googleapis.com/css?family=Courgette&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap);
@font-face {
    font-family: "Silkscreen";
    src: url("slkscr.ttf");
}

body {
  height: 100vh;
  background-color: black !important;
}



#wrapper {
  z-index: 1;
  text-align: center;
  font-size: 3vw;
  margin: 2vw 0 2vw 0;
  font-family: "Silkscreen";
  color:white;
}

canvas {
  z-index: 12;
}
